{% extends 'base.html' %}

{% block title %}
    {{ question.question_text }}
{% endblock%}

{% block content %}

<h3>{{ question.question_text }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <p>
        <label for="choice{{ forloop.counter }}">
            <input class="with-gap" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <span>{{ choice.choice_text }}</span>
        </label>
    </p>
{% endfor %}
<button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">
    Vote
</button>
<a class="waves-effect waves-light btn red lighten-2" href="{% url 'polls:index'%}">Go back</a>
</form>

{% endblock %}